body {
    /* this is temporary just so I have all my font choices available somewhere */
    font-family: 'Indie Flower', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Mynerve', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Rubik Marker Hatch', cursive;
}