body {
    text-align: center;
    margin: 0px;
}

/**
    Text Font Stylings, default sizing for tablets
*/

/* Remove underlines from all links, I hate them */
a:hover, a:link, a:visited a:active {
    text-decoration: none;
}

/* give navbar links a uniform colour */
#section-navbar a:hover, 
#section-navbar a:link, 
#section-navbar a:visited, 
#section-navbar a:active {
    color: white;
    text-shadow: -1px 1px 2px rgb(65, 78, 255),
                  1px 1px 2px rgb(65, 78, 255),
                  1px -1px 0 rgb(65, 78, 255),
                 -1px -1px 0 rgb(65, 78, 255);
}

#section-navbar p {
    font-family: 'Rubik Marker Hatch', cursive;
}

.text-header {
    text-shadow: 2px 2px rgb(0, 0, 0);
}

h1.text-header {
    font-family: 'Rubik Marker Hatch', cursive;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(52, 198, 255);
}

p.text-header {
    font-family: 'Permanent Marker', cursive;
    font-size: 1em;
    color:rgb(255, 252, 75);
}

.text-about {
    text-shadow: 2px 2px rgb(0, 0, 0);
}

h1.text-about {
    font-family: 'Rubik Marker Hatch', cursive;
    font-size: 2.5em;
    font-weight: bold;
}

h2.text-about {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.6em;
    font-weight: bold;
}

p.text-about {
    font-family: 'Mynerve', cursive;
    font-size: 1.1em;
}

h1.text-animal {
    font-family: 'Rubik Marker Hatch', cursive;
    font-size: 4em;
    text-shadow: 2px 2px rgb(231, 37, 167);
}

h2.text-animal {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
    color: rgb(52, 198, 255);
    text-shadow: 2px 2px rgb(0, 0, 0);
}

h3.text-animal {
    margin: 6px;
    font-family: 'Mynerve', cursive;
    font-weight: bold;
    font-size: 1.8em;
    text-shadow: 2px 2px rgb(0, 0, 0);
}

p.text-animal {
    font-family: 'Mynerve', cursive;
    font-weight: bold;
    font-size: 0.8em;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

h2.text-animal a:visited,
h2.text-animal a:hover,
h2.text-animal a:active,
h2.text-animal a:link {
    color: rgb(255, 252, 75);
    text-shadow: 2px 2px rgb(0, 0, 0);
}

h1.text-gallery {
    font-family: 'Rubik Marker Hatch', cursive;
    font-size: 2.4em;
    color: rgb(52, 198, 255);
    text-shadow: -1px 1px 2px rgb(255, 252, 75),
                  1px 1px 2px rgb(255, 252, 75),
                  1px -1px 0 rgb(255, 252, 75),
                 -1px -1px 0 rgb(255, 252, 75);
}

.text-footer {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.1em;
    font-weight: bold;
}

.text-footer a:visited,
.text-footer a:hover,
.text-footer a:active,
.text-footer a:link {
    color: rgb(231, 37, 167);
    text-shadow: 2px 2px rgb(0, 0, 0);
}

/**
    Text Sizing for Desktop and Mobile
*/

/* Desktop */
@media only screen and (min-width: 768px) {
    h1.text-header {
        font-size: 2.2em;
    }
    p.text-header {
        font-size: 1.8em;
    }
    p.text-about {
        font-size: 1.1em;
    }
    input[type=button].button-about {
        font-size: 1.6em;
    }
    h2.text-animal {
        font-size: 2.2em;
    }
    p.text-animal {
        font-size: 1.1em;
    }
    h1.text-gallery {
        font-size: 3.6em;
    }
}

/* Mobile */
@media only screen and (max-width: 420px) {
    h1.text-header{
        font-size: 1.3em;
    }
    p.text-header {
        font-size: 0.9em;
    }
    p.text-about {
        font-size: 1.6em;
    }
    input[type=button].button-about {
        font-size: 0.6em;
    }
    h2.text-animal {
        font-size: 1.2em;
    }
    h3.text-animal {
        font-size: 3.2em;
    }
    p.text-animal {
        font-size: 1.5em;
    }
    h1.text-gallery {
        font-size: 1.6em;
    }
    p.text-footer {
        font-size: 0.7em;
    }
}

/* ----------------------------------------- */

/**
    Button Stylings
*/

/* Round out the buttons and give the text space to breathe */
input {
    font-family: 'Permanent Marker', cursive;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
}

.button-main {
    background-color: rgb(65, 78, 255);
    border-color: rgb(65, 78, 255);
    color: white;
    font-size: 0.8em;
    border-radius: 5em;
    padding: 0.6em;
    width: 70%;
}

.button-about {
    font-size: 0.8em;
    border-radius: 5em;
    padding: 0.6em;
}

input[type=button].button-about {
    width: 80%;
    height: 4em;
    font-size: 1.5em;
    box-shadow: 2px 2px #000000;
    text-shadow: 2px 2px #000000;
}

/*  Desktop Button Resizing */
@media only screen and (min-width: 768px) {
    /* button text sizing for hero banner on desktop */
    .button-main {
        font-size: 0.8em;
        border-radius: 5em;
        padding: 0.6em;
        width: 50%;
    }
    /* button text sizing for cards on desktop */
    .button-about {
        font-size: 0.8em;
        border-radius: 5em;
        padding: 0.6em;
    }
}

/*  Mobile Button Resizing  */
@media only screen and (max-width: 420px) {
    /* button text sizing for hero banner on mobile */
    .button-main {
        font-size: 1.2em;
        border-radius: 2em;
        padding: 0.8em;
        width: 90%;
    }
    /* button text sizing for cards on mobile */
    .button-about {
        font-size: 1.5em;
        border-radius: 4em;
        padding: 1.1em;
    }
}

/* ----------------------------------------- */


/**
    Background Image Positionings
*/

#section-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.7)), url("../assets/animals/about-1-tn.jpg");
    background-size: cover; 
}

.card {
    border-radius: 3%;
    background-size: cover;
    background-repeat: no-repeat;
}

#section-about {
    background-image: linear-gradient(rgb(233, 235, 81) 20%, rgb(52, 198, 255) 95%, rgb(65, 78, 255));
}

#about-cards >:nth-child(3n+1) {
    background-image: linear-gradient(rgba(76, 149, 158, 0.747) 15%, rgba(184, 177, 104, 0.74) 45%, rgba(184, 177, 104, 0.74) 70%, rgba(76, 149, 158, 0.747) 90%), url('../assets/animals/about-1-tn.jpg');
    border-color: rgb(52, 198, 255);
    color: rgb(52, 198, 255);
}

#about-cards >:nth-child(3n+2) {
    background-image: linear-gradient(rgba(13, 20, 116, 0.726) 15%, rgba(255, 255, 255, 0.616) 45%, rgba(255, 255, 255, 0.616) 70%, rgba(13, 20, 116, 0.726) 90%), url('../assets/animals/about-1-tn.jpg');
    border-color: rgb(65, 78, 255);
    color: rgb(65, 78, 255);
}

#about-cards >:nth-child(3n+3) {
    background-image: linear-gradient(rgba(104, 10, 54, 0.596) 15%, rgba(0, 0, 0, 0.692) 45%, rgba(0, 0, 0, 0.692) 70%, rgba(104, 10, 54, 0.596) 90%), url('../assets/animals/about-1-tn.jpg');
    border-color: rgb(231, 37, 167);
    color: rgb(231, 37, 167);;
}

/*  Style the Button inside the first about card 
    ... I definitely could have done this better with HTML, 
    but I really wanted to see if I could make the complex selector work
    lo and behold it did indeed work
*/
#about-cards >:nth-child(3n+1) .button-about {
    border-color: rgb(52, 198, 255);
    color: rgb(52, 198, 255);
}

#about-cards >:nth-child(3n+2) .button-about {
    border-color: rgb(65, 78, 255);
    color: rgb(65, 78, 255);
}

#about-cards >:nth-child(3n+3) .button-about {
    border-color: rgb(231, 37, 167);
    color: rgb(231, 37, 167);
}

#section-animal {
    background-image: linear-gradient(rgb(65, 78, 255) 5%, rgb(255, 255, 255) 95%, rgb(231, 37, 167));
}

#animal-cards >:nth-child(6n+1) {
    background-image: linear-gradient(rgba(158, 160, 54, 0.815) 5%, rgba(158, 160, 54, 0.445) 50%, rgba(158, 160, 54, 0.815) 95%), url('../assets/animals/about-1-tn.jpg');
    border-color: rgb(233, 235, 81);
    color: rgb(233, 235, 81);
}

#animal-cards >:nth-child(6n+2) {
    background-image: linear-gradient(rgba(29, 80, 139, 0.815) 5%, rgba(29, 80, 139, 0.445) 50%, rgba(29, 80, 139, 0.815) 95%), url('../assets/animals/about-1-tn.jpg');
    border-color: rgb(65, 143, 231);
    color: rgb(65, 143, 231);
}

#animal-cards >:nth-child(6n+3) {
    background-image: linear-gradient(rgba(56, 11, 11, 0.815) 5%, rgba(56, 11, 11, 0.445) 50%, rgba(56, 11, 11, 0.815) 95%), url('../assets/animals/about-1-tn.jpg');
    border-color: rgb(233, 39, 39);
    color: rgb(233, 39, 39);
}

#animal-cards >:nth-child(6n+4) {
    background-image: linear-gradient(rgba(36, 9, 58, 0.815) 5%, rgba(36, 9, 58, 0.445) 50%, rgba(36, 9, 58, 0.815) 95%), url('../assets/animals/about-1-tn.jpg');
    border-color: rgb(153, 52, 236);
    color: rgb(153, 52, 236);
}

#animal-cards >:nth-child(6n+5) {
    background-image: linear-gradient(rgba(252, 175, 130, 0.815) 5%, rgba(252, 175, 130, 0.445) 50%, rgba(252, 175, 130, 0.815) 95%), url('../assets/animals/about-1-tn.jpg');
    border-color: rgb(241, 89, 1);
    color: rgb(241, 89, 1);
}

#animal-cards >:nth-child(6n+6) {
    background-image: linear-gradient(rgba(144, 226, 96, 0.815) 5%, rgba(144, 226, 96, 0.445) 50%, rgba(144, 226, 96, 0.815) 95%), url('../assets/animals/about-1-tn.jpg');
    border-color: rgb(26, 184, 12);
    color: rgb(26, 184, 12);
}

#section-gallery {
    background-image: linear-gradient(rgb(231, 37, 167) 10%, rgb(0,0,0) 48%, rgb(0,0,0) 99%, rgb(65, 78, 255));
}
/* ----------------------------------------- */

/**
    Layout Stylings
*/

/*  Navbar          */
#section-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 48px;
    background-color: rgb(52, 198, 255);
}

#section-navbar * {
    margin: 2%;
}

/*  Header          */
#section-header {
    padding-top: 20%;     /* leave space for the navbar */
    padding-bottom: 18%;
    width: 100%;
    height: 420px;
}

#section-header-content {
    display: flex;
    width: 72%;
    height: 100%;
    margin: 0px 8px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#section-header-content * {
    margin: 0% 20%;
}

/*  About Cards     */

.about-card {
    width: 90%;
}

#section-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#section-animal:nth-child(1) {
    padding-top: 10%;
    background-color: black;
}

#about-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.about-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 640px;
    padding: 2%;
    margin: 5% 0%;
    border: 3px outset black;   /*  This border will get overridden by other styling    */
}

/*  Animal Cards Header    */

#section-animal {
    display: flex;
    flex-direction: column;
}

#section-animal-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1#section-animal-info {
    margin: 10px 5%;
}

#section-animal-info > * {
    width: 40%;
    padding: 0% 4%;
}

/*  Animal Detailed Cards   */
#animal-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.animal-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 42%;
    height: 360px;
    margin: 5% 1%;
    padding: 0% 2%;
    border: 3px solid black;   /*  This border will get overridden by other styling    */
}

.animal-detail {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

#section-gallery {
    display: flex;
    flex-direction: column;
}

/*  Gallery         */
#gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-around;
    flex-wrap: wrap;
    flex-grow: unset;
    padding: 2%;
}

#gallery * {
    width: 28%;
    padding: 2%;
}


/*  Footer          */
#section-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(65, 78, 255);
    padding: 0% 4%;
}

/*  Mobile Layout Adjustments   */
@media only screen and (max-width: 420px) {
    .about-card {
        height: 1080px;
    }
    #section-animal-info > * {
        width: 90%;
    }
    .animal-card {
        width: 94%;
        height: 440px;
    }
    #gallery * {
        width: 90%;
        padding: 1%;
    }
}

/*  Desktop Layout Adjustments  */
@media only screen and (min-width: 768px) {
    /* Make cards take up a third of the screen for desktop */
    .about-card {
        width: 28%;
        height: 800px;
    }
    .animal-card {
        width: 26%;
    }
    #gallery * {
        width: 30%;
        padding: 2%;
    }
}
